.searchFunctions {
    display: flex;
    justify-content: right;
    margin-top: .75%;
    margin-bottom: .75%;
}

.searchFunctions>* {
    margin-right: 40px;
}

.searchFunctions>span {
    margin-right: 20px;
}

.advInput {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 17px;
}

.smallInput {
    width: 20%;
}

.inputSpan {
    padding: 7px 0px;
}

.popup {
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.popupContent {
    z-index: 1;
    text-align: center;
    background-color: #f0ffff;
    margin: 7.5% auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 40%;
}

.popupContent>* {
    margin: 1%;
}

.divLeft {
    display: inline-block;
    vertical-align: top;
}

.divRad {
    margin-top: 10%;
    text-align: start;
    margin-left: 2.5%;
}

.divRight {
    margin-left: 10%;
    display: inline-block;
}

.divCheck {
    text-align: start;
    margin-left: 25%;
}

.divpage {
    text-align: center;
}

/* remove o número extra aparecendo na seleção de páginas da tabela */
.divpage>nav>ul>span {
    display: none;
}

/* setas do bottomContent */
.divpage>nav>ul>li>svg{
    background-color: #e7e7e7;
}
.divpage>nav>ul>li:last-child>svg {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

/* botoes da tabela bottomContent */
.tablepage li {
    border: 2px solid #9fa4b3;
    border-radius: 5px;
    display: inline-block;
    background-color: #e7e7e7;
    padding: .5% 1%;
    margin: 5px;
    margin-top: .5%;
}

.topContInput {
    height: 1%;
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #000;
    background-color: white;
}

/* topContent background color */
.topContInput * {
    display: flex;
    padding: .5% 0;
    background-color: white;
    border: none;
}

.topContInput * :focus{
    outline: none;
}