* {
  background-color: #f0ffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3 {
  text-align: center;
  margin-top: .5%;
}

/* transformar a caixa de seleção em branco */
select option {
  background-color: white;
}

.menuButton {
  background-color: #e7e7e7;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.menuButton:hover:enabled {
  background-color: #d3d3d3;
}

.menuButton:disabled {
  background-color: #d3d3d3;
  cursor: default;
}

.empresaInput {
  width: 25%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 17px;
}

.selectBox {
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 6px;
}

table {
  margin: auto;
  border: 2px solid #9fa4b3;
  border-radius: 5px;
  border-spacing: 10px 5px;
  margin-top: 1%;
  width: 60%;
  padding: .5%;
}

th:first-child {
  width: 425px;
}

th {
  text-align: left;
  font-size: 13pt;
}

td {
  padding-top: .75%;
  padding-bottom: .75%;
  border-right: 1px solid #9fa4b3;
  border-bottom: 1px solid #9fa4b3;
  border-radius: 3px;
}

td button{
  display: none;
}

td:last-child {
  border-right: none;
  width: 140px;
}

td:last-child button {
  display: grid;
}

/* background color */

table,
th,
td,
td>span,
th>svg {
  background-color: #e7e7e7;
}

/* trocar de cor quando for selecionado */

/* tr:focus,
td:focus,
td>span:focus,
th>svg:focus{
  color funciona, mas background-color não
  background-color: #9fa4b3;
} */

/* remove outline */

th:focus{
  outline: none;
}

/* th seta de classificação - WIP */

th:focus>svg{
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}